.homeContainer {
  overflow: auto;
}
.homeContainerText {
  margin-top: 1.5em;
}
.homeContainerText > p {
  width: 60%;
  background-color: rgb(213, 205, 191);
  color: #000;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0.5em 0;
  margin: auto;
  margin-bottom: 2em;
  border-radius: 1em;
  text-align: center;
  height: 20px;
}
