.loginContainer {
  width: 100%;
  margin: auto;
  margin-top: 1.8em;
  background-color: rgb(213, 205, 191);
  padding: 0 0px;
  border-radius: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.loginHeadingContainer {
  width: 100%;
  padding: 2px;
}

.navLink {
  text-decoration: none;
}

.navLink p {
  color: #000;
  margin: 0;
  margin-bottom: 1em;
  padding: 2px 5px;
  position: relative;
  top: 15px;
  left: 15px;
  color: #168edf;
}

.loginDetailsContainer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.loginDetailsContainer label {
  font-size: 1.25em;
  margin-left: 1.1em;
  margin-bottom: 0em;
}

.loginDetailsContainer input {
  box-sizing: border-box;
  font-size: 1em;
  margin-left: 1.1em;
  border: none;
  border-radius: 1.5em;
  padding: 0.3em;
  padding-left: 1.2em;
  outline: none;
  width: 80%;
}

.loginDetailsContainer button {
  box-sizing: border-box;
  font-size: 1em;
  margin: auto;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 1.5em;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.loginDetailsContainer button::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 1.5em;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.loginDetailsContainer button:hover::before {
  border-color: #000;
}

.loginDetailsContainer button:hover {
  background-color: #2980b9;
}

.navLinkSignUpPara {
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin-left: 1.1em;
  margin-bottom: 1em;
}

.navLinkSignUp {
  box-sizing: border-box;
  font-size: 1.25em;
  text-decoration: none;
  color: #168edf;
  margin-left: 0.5em;
}

@media screen and (max-width: 184px) {
  .loginDetailsContainer,
  .navLinkSignUpPara,
  .navLinkSignUp,
  .navLink p {
    font-size: 15px;
  }
}

@media screen and (min-width: 400px) {
  .loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .loginContainer {
    width: 80%;
  }
  .loginDetailsContainer button {
    margin-top: 1em;
  }
}
