.reachContainer {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5em;
  margin: 10px 0;
  border-radius: 1em;
  position: relative;
  background-color: rgb(213, 205, 191);
}

.navlink {
  color: rgb(130, 130, 229);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
  padding: 1em;
  padding-left: 0;
  padding-right: 0.5em;
}

.navlinkContainer {
  margin-top: 0.75em;
  font-weight: 400;
}

.reachContainer p span {
  color: rgb(65, 67, 60);
  font-size: 1.5em;
  margin-left: 0;
  position: absolute;
  top: 8px;
  font-weight: 400;
  margin-top: 0.5em;
}

.reachHeaderSection h4 {
  font-size: 1.2em;
  margin: 0;
  color: #000;
  font-weight: 600;
}

.reachHeaderSection p {
  width: 95%;
  font-size: 1.2em;
  text-align: justify;
  color: #000;
  font-weight: 400;
  margin-top: 0.5em;
}

.reachMainSection {
  position: relative;
}

.reachMainSection h4 {
  font-size: 1.2em;
  color: #000;
  font-weight: 600;
  margin: 0;
}

.reachMainSection p {
  font-size: 1.2em;
  color: #000;
  margin-bottom: 0;
  margin-top: 0.75em;
  font-weight: 500;
  position: relative;
}

.navlinkSpan {
  color: rgb(45, 45, 132);
  text-decoration: none;
  font-weight: 400;
  padding-left: 0.1em;
}

.reachFooterSection p {
  width: 95%;
  text-align: justify;
  color: #000;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  .reachContainer {
    width: 80%;
    margin: auto;
    margin-top: 15px;
  }
}
