.reachContainer {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2em;
  position: relative;
}
.navlink {
  color: rgb(130, 130, 229);
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  padding: 1em;
  padding-left: 0;
  padding-right: 0.5em;
}
.reachContainer p {
  margin-top: 2em;
  font-weight: 400;
}
.reachContainer p span {
  color: rgb(65, 67, 60);
  font-size: 1.8em;
  margin-left: 0;
  position: absolute;
  top: 22px;
  font-weight: 400;
  margin-top: 0.5em;
}
.reachHeaderSection h4 {
  font-size: 1.5em;
  margin-bottom: 0;
  color: #000;
}
.reachHeaderSection p {
  font-size: 1.5em;
  color: #000;
  font-weight: 400;
  margin-top: 0.5em;
}
.reachMainSection {
  position: relative;
}
.reachMainSection h4 {
  font-size: 1.5em;
  color: #000;
  font-weight: 600;
  margin-bottom: 1.25em;
}
.reachMainSection p {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 0;
  margin-top: 0.75em;
  font-weight: 400;
  position: relative;
}
.navlinkSpan {
  color: rgb(45, 45, 132);
  text-decoration: none;
  font-weight: 400;
  padding-left: 0.1em;
}
.reachFooterSection p {
  color: #000;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 1.5em;
}
